<%
  var postCategories = [];
  categories.forEach(function(category){
    postCategories.push('<a href="' + category.path + '">' + category.name + '</a>');
  });
%>

<%- postCategories.join(' / ') %>
