<%
  var postTags = [];
  tags.forEach(function(tag){
    postTags.push('<a class="tag" href="' + url_for(tag.path) + '">' + (tagHash ? '#' : '') + tag.name + '</a>');
  });
%>

<%- postTags.join(' ') %>

