<%- partial('_partial/header', {headerType: 'index'}) %>
<!-- Home Page Post List -->
<div class="container">
  <div class="row">
    <div class="col-lg-10 col-md-10 col-md-offset-1">
      <% page.posts.each(function(post){ %>
        <%- partial('_partial/index-entry', {post: post, index: true}) %>
      <% }) %>
    </div>
  </div>
</div>

<%- partial('_partial/pagination') %>
