/* basic colors */
$color-white      = #FFF
$color-black      = #555
$color-beige      = #F0E8DF
$color-grey       = #85878A
$color-light-grey = #E1E1E1

/* theme colors */
$light-red    = #F03838
$light-pink   = #EA4D8A
$light-orange = #ff6347
$light-blue   = #1999EC
$light-purple = #B27DF4

/* modify value of $theme-color to get different theme colors */
$theme-color            = $light-blue
$theme-text-color       = $color-black
$theme-background       = $color-white
$theme-code-background  = $color-beige
$theme-seperator        = $color-light-grey
$theme-dotted-seperator = $color-grey

color-revert()
  color $theme-background
  background-color $theme-color

@import '_helpers/mixins'

@import '_typography/typo.css'
@import '_typography/highlight.monikai-sublime'
@import '_typography/code'

@import '_base'
@import '_partial/header'
@import '_partial/index-entry'
@import '_partial/archive-entry'
@import '_partial/article'
@import '_partial/footer'
@import '_partial/pagination'
