/* normal style */
.archive-item
  margin-bottom remify(20px)
  .post-title
    font-size remify(20px)
    padding 0 remify(5px)
    border-radius remify(2px)
  .date
    font-size remify(14px)
    padding 0 remify(5px)

/* mobile style */
@media only screen and (max-width: 414px)
  .archive-item
    .post-title
      font-size remify(16px)
    .date
      font-size remify(14px)
